.HomePageWrapper{
  min-height: calc(100vh - 200px);
}
.tableActionIcon {
  margin-right: 10px;
  transition: 0.5s all;
  &:hover {
    color: #1890ff;
    cursor: pointer;
  }
}

.searchDropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.searchDropdown input {
  width: 180px;
  margin-right: 8px;
}
.ant-calendar-picker{
  width: 100%;
}